<md-toolbar class="md-whiteframe-1dp" ng-controller="MainToolbarController">
  <div class="md-toolbar-tools">

    <!-- Mode 'DEFAULT' -->
    <div flex layout="row" layout-align="start center" ng-hide="state.searchMode">
      <md-button class="md-icon-button" ng-click="toggleSideNav()">
        <md-icon class="material-icons md-light">menu</md-icon>
      </md-button>
      <h2 class="md-headline">
        <span>NotePad</span>
      </h2>
      <span flex></span>

      <md-button class="md-icon-button" aria-label="Menu" ng-click="state.searchMode = true">
        <md-icon class="material-icons">search</md-icon>
      </md-button>

      <md-menu style="padding: 0" ng-controller="AuthController">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Menu">
          <md-icon class="material-icons">more_vert</md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item style="height: initial;">
            <div layout="column" layout-align="center center" class="menu-trigger-button">
              <md-icon class="md-default material-icons">account_circle</md-icon>
              <p align="center" class="md-body-1" ng-bind="getUserEmail()"></p>
            </div>
          </md-menu-item>

          <md-menu-divider></md-menu-divider>

          <md-menu-item>
            <md-button id="user-menu-logout-button" ng-click="logout()">
              <md-icon class="material-icons">exit_to_app</md-icon>
              Sign out
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <!-- Mode 'SEARCH' -->
    <div flex layout="row" layout-align="start center" ng-show="state.searchMode" class="ng-hide">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="state.searchMode = false; query.text = ''">
        <md-icon class="material-icons">arrow_back</md-icon>
      </md-button>
      <div searchbox layout="row" flex></div>
    </div>
  </div>
</md-toolbar>
