<div layout="row" layout-align="center center" flex>

  <md-card ng-controller="RegistrationController" style="max-width: 820px;" flex>
    <md-card-content class="header-correction">

      <h2 class="md-display-2">Join NotePad</h2>
      <h3 class="md-headline">The simple way to store your notes</h3>

      <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
        <md-tab label="1. Create account">
          <md-content layout="column" layout-align="start start">
            <form class="md-padding" name="userRegistrationForm">
              <h4 class="md-title">Create your personal account</h4>

              <div class="md-dialog-content">
                <md-input-container flex>
                  <label>First name</label>
                  <input ng-model="user.firstName" type="text" required>
                </md-input-container>

                <md-input-container flex>
                  <label>Last name</label>
                  <input ng-model="user.lastName" type="text" required>
                </md-input-container>

                <md-input-container>
                  <label>Login</label>
                  <input name="userLogin"
                         type="text"
                         ng-model="user.login"
                         ng-minlength="8"
                         ng-maxlength="100"
                         ng-required="true"
                         ng-pattern="/^[a-z0-9_-]{8,}$/i">

                  <div ng-messages="userRegistrationForm.userLogin.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your login must be between 8 and 100 characters long.<br>
                      You can use letters (a - z), numbers (0 - 9) and dash.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container>
                  <label>email</label>
                  <input name="userEmail"
                         type="email"
                         ng-model="user.email"
                         ng-minlength="5"
                         ng-maxlength="100"
                         ng-required="true"
                         ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">

                  <div ng-messages="userRegistrationForm.userEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 5 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Password</label>
                  <input name="userPassword"
                         type="text"
                         ng-model="user.password"
                         ng-minlength="8"
                         ng-maxlength="100"
                         ng-required="true"
                         password>

                  <div ng-messages="userRegistrationForm.userPassword.$error" role="alert">
                    <div ng-message-exp="['password', 'required', 'minlength', 'maxlength']">
                      Password should consist of lowercase characters,
                      uppercase characters, special characters (e.g., ~!@#$%^&*) and numbers.
                    </div>
                  </div>
                </md-input-container>
              </div>

              <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="submitRegistrationForm()">
                  create
                </md-button>
              </div>
            </form>
          </md-content>
        </md-tab>

        <md-tab label="2. Sign in">
          <md-content class="md-padding" layout="column" layout-align="center center">
            <h4 class="md-title text-center">Registration complete</h4>

            <p class="md-body-1 text-center">Now you can login with your credentials</p>
            <md-button class="md-raised md-primary" ui-sref="login">Login</md-button>
          </md-content>
        </md-tab>
      </md-tabs>

    </md-card-content>
  </md-card>

</div>