<div layout="row" layout-align="center center" flex>

  <md-card md-selected="selectedTab" ng-controller="RegistrationController" style="max-width: 362px;" flex>
    <md-card-content class="header-correction">
      <h2 class="md-title text-center">Sign up</h2>

      <form md-padding name="userRegistrationForm" flex>
        <div class="md-margin">

          <md-input-container>
            <label>Email</label>
            <input name="userEmail"
                   type="email"
                   ng-model="user.email"
                   ng-minlength="5"
                   ng-maxlength="100"
                   ng-required="true"
                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='checkAvailableEmail()'>

            <div ng-messages="userRegistrationForm.userEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 5 and 100 characters long and look like an e-mail address.
              </div>
              <div ng-message="notAvailable">
                Email is already taken
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input name="userPassword"
                   type="password"
                   ng-model="user.password"
                   ng-minlength="8"
                   ng-maxlength="100"
                   ng-required="true">

            <div ng-messages="userRegistrationForm.userPassword.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength']">
                Password must be between 8 and 100 characters.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Retype password</label>
            <input type="password"
                   name="confirmPassword"
                   ng-model="user.confirmPassword"
                   compare-to="user.password"
                   required>

            <div ng-messages="userRegistrationForm.confirmPassword.$error" role="alert">
              <div class="messages">
                <div ng-message="compareTo">Must match the previous entry</div>
                <div ng-message="required">Required</div>
              </div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="submit()" flex>
            Sign me up
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>

</div>