<div id="login-view" ng-controller="AuthController" layout="row" layout-align="center center" flex>

  <md-card class="login-card">
    <md-card-content>

      <div layout="column" layout-align="center center">
        <md-icon class="material-icons" style="font-size: 112px; height: 112px; width: 112px">account_circle</md-icon>
      </div>

      <form md-padding name="loginForm">
        <div class="md-margin">
          <md-input-container>
            <label>Login or Email</label>
            <input name="userLogin"
                   ng-model="login"
                   ng-required="true"
                   ng-change="clearIncorrectLoginError()">

            <div ng-messages="loginForm.userLogin.$error" role="alert">
              <div ng-message="correct-credentials">
                Login might be incorrect
              </div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Password</label>
            <input type="text"
                   name="userPassword"
                   ng-model="password"
                   ng-required="true"
                   ng-change="clearIncorrectPasswordError()">

            <div ng-messages="loginForm.userPassword.$error" role="alert">
              <div ng-message="correct-credentials">
                Password might be incorrect
              </div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="end center">
          <md-button id="submit-button" class="md-raised md-primary" ng-click="submit()" flex>
            Sign in
          </md-button>
        </div>
      </form>

      <div style="margin-top: 23px" layout="column" layout-align="center center">
        <md-button class="md-primary" ui-sref="user-registration">Register account</md-button>
        <md-button class="md-primary" href="recover-password">Recover password</md-button>
      </div>

    </md-card-content>

  </md-card>
</div>
