<div class="md-toolbar-tools">
  <h2>
    <a id="home-link" href="#" ui-sref="index">My Note</a>
  </h2>
  <span flex></span>

  <md-button id="toolbar-login-button" ng-hide="logged" aria-label="Login" ui-sref="login">Login</md-button>

  <md-menu ng-controller="AuthController" ng-show="logged" class="ng-hide">
    <md-button id="user-menu-open-button" aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon class="material-icons md-light">more_vert</md-icon>
    </md-button>

    <md-menu-content width="4">
      <md-menu-item style="height: initial;">
        <div layout="column" layout-align="center center" class="menu-trigger-button">
          <md-icon class="md-default material-icons">account_circle</md-icon>
          <p align="center" class="md-body-1" ng-bind="getUserEmail()"></p>
        </div>
      </md-menu-item>

      <md-menu-divider></md-menu-divider>

      <md-menu-item id="go-to-administration-button" ng-show="isAdminSession()">
        <md-button ui-sref="admin-page">
          <md-icon class="material-icons">dashboard</md-icon>
          Administration page
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button>
          <md-icon class="material-icons">settings</md-icon>
          Account settings
        </md-button>
      </md-menu-item>

      <md-menu-divider></md-menu-divider>

      <md-menu-item>
        <md-button id="user-menu-logout-button" ng-click="logout()">
          <md-icon class="material-icons">exit_to_app</md-icon>
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

</div>
