<div flex style="max-width: 600px">

  <div class="md-whiteframe-1dp" style="background-color: white;
                                            border-radius: 2px;
                                            padding-left: 12px;
                                            z-index: 2" layout="row">
    <md-icon style="color: #444; opacity: 0.5" class="material-icons md-light">search</md-icon>

    <input placeholder="Search" flex style="
                                                border-radius: 2px;
                                                min-width: 100px;
                                                border: 0;
                                                padding: 8px 10px 8px 12px;
                                                outline: none;
                                                width: auto;
                                                font-size: 16px">
  </div>

</div>